body { 
    margin: 5; 
    overflow: hidden; 
    background-color: #000;
    font-family: 'Space Mono', monospace;
    color: #fff;
}

.container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
}

.controls {
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: 200;
}

.controls.open {
    background: rgba(0,0,0,0.7);
}

.buttons-container {
    margin-bottom: 0px;
}

.slider-container {
    margin-top: 5%;
}

.slider {
    width: 100%;
    margin: 15px 0;
    -webkit-appearance: none;
    background: transparent;
    outline: none;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #aaa;
    border: none;
    border-radius: 3px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #aaa;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #aaa;
    cursor: pointer;
    margin-top: -4px;
}

.slider::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #aaa;
    border: none;
    border-radius: 3px;
}

.slider::-moz-range-thumb {
    border: 1px solid #aaa;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #aaa;
    cursor: pointer;
}

.watermark {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-size: 12px;
    padding: 0px;
    margin-bottom: 6px;
    margin-right: 5px;
}

.button {
    background: transparent;
    color: #b7b6b6;
    border: .5px solid #aaa;
    padding: 5px 10px;
    opacity: 0.8;
    align-items: middle;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-size: 13px;
    margin-right: 5px;
    text-decoration: none;
    transition: opacity 0.3s ease;
    box-shadow: 0 0 3px #4BA481;
}

.button.inactive {
    opacity: 0.2;
    box-shadow: 0 0 0px #00000000;
    cursor: default;
    pointer-events: none;
}

#slidersContent.inactive .slider {
    opacity: 0.3;
    pointer-events: none;
}

#percentageCounter {
    font-weight: 200;
}

#startButton {
    font-weight: 200;
    color: #00ff00; /* Green text color */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.382);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    border:.5px solid #aaa;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    color: #4BA481;
    font-family: 'Space Mono', monospace;
    box-shadow: 0 0 2px #4BA481;
}

.close-button {
    color: #4BA481;
    float: right;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.terminal-text {
    white-space: pre-wrap;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 200;
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4BA481;
    animation: blink 0.7s infinite;
    vertical-align: middle;
    margin-left: 4px;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .7;
    }
}